:root {
  --branding-color: #f08570;
  --secondary-color: #fcf8f3;
  --off-black: #2a363b;
}

body {
  background: linear-gradient(
    147deg,
    rgb(255, 236, 188) 0%,
    rgb(248, 176, 142) 100%
  );
  background-repeat: no-repeat;
  color: var(--off-black);
  font-family: "Faustina", serif;
  margin-bottom: 50px;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-size: 48px;
  font-weight: 600;
}

p {
  font-size: 18px;
  margin: 20px auto;
  max-width: 1000px;
}

h4 {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

footer {
  color: var(--secondary-color);
  font-size: 18px;
  text-align: center;
}

footer a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

footer a:hover {
  color: var(--branding-color);
}

.container {
  background: var(--secondary-color);
  border-radius: 10px;
  display: block;
  margin: 40px auto 20px;
  max-width: 1300px;
  padding: 50px 20px;
  text-align: center;
  width: 90%;
}

.theme-button {
  background: var(--branding-color);
  border: 1px solid var(--secondary-color);
  border-radius: 6px;
  color: var(--secondary-color);
  display: block;
  font-size: 18px;
  margin: 40px auto;
  padding: 10px 15px;
  transition: all 150ms ease-in-out;
}

.theme-button:hover {
  background: var(--off-black);
  cursor: pointer;
}

.photo-gallery {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  margin: 15px;
}

.photo-gallery img {
  border-radius: 10px;
  transition: all 200ms ease-in-out;
  width: 100%;
}

.photo-gallery img:hover {
  transform: scale(1.5);
}

.dark {
  background: radial-gradient(rgb(39, 29, 60) 0.5px, rgb(16, 13, 24) 0.5px);
  background-repeat: no-repeat;
  color: var(--secondary-color);
}

.dark .container {
  background: rgba(255, 255, 255, 0.1);
}

.dark .theme-button {
  background: var(--off-black);
}

.dark .theme-button:hover {
  background: var(--branding-color);
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }

  p {
    font-size: 16px;
    text-align: justify;
  }

  h4 {
    font-size: 17px;
  }

  .container {
    padding: 50px 20px 20px;
  }

  .photo-gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  footer {
    font-size: 16px;
  }
}
